@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--title-color: hsl(234, 12%, 34%);
	--font-color: hsl(229, 6%, 66%);
	--background-color: hsl(0, 0%, 98%);
	--font: "Poppins", sans-serif;
}

body {
	padding: 6rem 2rem;
	color: var(--font-color);
	background-color: var(--background-color);
	font-family: var(--font);
	font-weight: 400;
}

.container {
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 450px) {
	.container {
		width: 75%;
	}
}

@media (min-width: 600px) {
	.container {
		width: 55%;
	}
}

@media (min-width: 750px) {
	.container {
		width: 45%;
	}
}

@media (min-width: 900px) {
	.container {
		width: 35%;
	}
}

@media (min-width: 1150px) {
	.container {
		width: 1110px;
	}

	.header .container {
		width: 500px;
	}
}

.header {
	text-align: center;
	margin-bottom: 5rem;
}

.title {
	color: var(--title-color);
	font-size: 1.5rem;
	font-weight: 200;
	margin-bottom: 1.5rem;
}

.title--bold {
	font-weight: 600;
}

.description {
	font-size: 0.9375rem;
}

@media (min-width: 1150px) {
	.display .container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2rem;
	}
}

.card {
	margin-bottom: 1rem;
	background-color: #fff;
	padding: 2rem 2.5rem;
	border-radius: 0.5rem;
}

.card::after {
	display: block;
	content: "";
	clear: both;
}

.card:first-of-type {
	border-top: 2px solid var(--cyan);
}

.card:nth-of-type(2) {
	border-top: 2px solid var(--red);
}

.card:nth-of-type(3) {
	border-top: 2px solid var(--orange);
}

.card:last-of-type {
	border-top: 2px solid var(--blue);
}

@media (min-width: 1150px) {
	.card:last-of-type {
		grid-row: 1;
		grid-column: 3;
	}

	.card:nth-of-type(3) {
		grid-row: 2;
		grid-column: 2;
	}

	.card.card:first-of-type,
	.card.card:last-of-type {
		position: relative;
		top: 50%;
	}
}

.card__title {
	font-weight: 600;
	color: var(--title-color);
	font-size: 1.125rem;
}

.card__text {
	font-size: 0.75rem;
	margin-bottom: 2rem;
}

.card__img {
	float: right;
}
